.carousel {
    padding-top: 47px;
}

.carousel-indicators li {
    margin-right: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 450px;
}

.carousel-inner .carousel-caption {
    margin-bottom: 25px;
}