<form action="">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="input-group">
        <div class="input-group-btn">
          <button class="btn" type="submit">
            <i class="fa fa-th-large"></i>
            <span>ALL</span>
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
        <input type="text" class="form-control" placeholder="Book Tickets for Movies, Events, Plays & Sports" name="txtSearch" id="txtSearch"/>
      </div>
    </div>
  </div>
  <div class="row message">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="input-group">
        <span>Preferred Cinemas: </span>
        <span class="cinema-names">
          Luxe Cinemas: Chennai, AGS Cinemas OMR: Navlur, PVR: Velachery, Chennai
        </span>
      </div>
    </div>
  </div>
</form>